.angular-leaflet-map {
  height:480px;
  width:800px;
}

.angular-leaflet-map a {
  color:inherit; /* removes mol-basic override */
}

.datasets-map-container {
  font: 12px/14px Arial, Helvetica, sans-serif;
}

.datasets-map-container {
  position: relative;
}

.overlay-selectors {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  line-height: 14px;
  padding: 6px 8px 4px 4px;
  margin: 0 0 12px 12px;
}

.overlay-selectors .radios {
  margin: 0;
  font-weight: bold;
}

.overlay-selectors label {
  font-weight: normal;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.overlay-selectors .radios input[type="radio"] {
  display: none;
}

.radios .not-selected {
  color: #777;
}

.overlay-selectors .box {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid black;
}

.overlay-selectors hr {
  margin: 0 0 8px 0;
  border-bottom: 1px solid black;
}

footer {
  z-index: 1000;
}
