.angular-leaflet-map {
        height:480px;
        width:800px;
}

.angular-leaflet-map a {
       color:inherit; /* removes mol-basic override */
}


.legend:before {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  position: relative;
  top: -0.4em;
}

.legend {
  position: relative;
  font: 12px/14px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255, 0.9);
  border-radius: 5px;
  width: 100%;
  padding: 10px 8px 6px 8px;
  margin-right: 4px;
  white-space: nowrap;
  color: #555;
}

.legend i {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  float: left;
  margin-right: 4px;
  opacity: 0.7;
}

.datasets-map-container > label {
  float: right;
  padding-left: 12px;
  font: 12px/14px Arial, Helvetica, sans-serif;
}

.map-popup {
  text-align: center;
  opacity: 0.8;
}
.map-popup .content {
  padding: 3pt;
  font-size: 10pt;
  text-align: center;
}
