
.layouts-base .main {
   display: flex;
   display: -webkit-flex;
   -webkit-flex: 1;
   flex:1;
}

.layouts-basic {
    padding-bottom:20px;
}

.layouts-sidebar {
        display: -webkit-flex;
        display: flex;
        -webkit-flex: 1;
        flex: 1;
}

.layouts-sidebar .sidebar-scroll-container {
      position: relative;
      max-width: 280px;
      min-width: 280px;
      overflow-y: auto;
      overflow-x: hidden;
      border-right: 2pt solid gray;
    }


.layouts-sidebar  .content-scroll-container {
    position: relative;
    flex: 1;
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    border-right: 2pt solid gray;
  }

.layouts-sidebar .sidebar {
    flex: 1;
    -webkit-flex: 1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    font-size: 10pt;
    padding: 5px;
    width: 310px;
  }


  .dropdown-menu {
    white-space: nowrap;
  }

  .layouts-sidebar mol-loading-indicator {
    top:10px; 
  }
