html,
body {
  height: 100%;
  margin: 0
}


@media(min-device-pixel-ratio: 1.5) {
	font-size:32px;
}

.mol-view-container {
	min-height: 100%;

}

.clickable {
		cursor: pointer;

}
.angular-leaflet-map svg{
   width: initial;
   height: initial;
 }

header {
	margin: 0;
	padding: 0;
	position: relative;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.logo {
	margin: 0.5em;
	width: 10em
}

.login {
  float: right;
}

@media (min-width: 740px) {
	.logo {
		float: left
	}
}
.logo a {
	display: block;
	height:60px;
}
.logo img {
	width: 160px;
}
@media (min-width: 740px) {
	nav {
		position: absolute;
		bottom: 0;
		right: 1em
	}
}
.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
	text-align: center;
	font-size: 0.75em
}
@media (min-width: 740px) {
	.menu {

		/*position: absolute;*/
		font-size: 1em
	}
}

.menu li {
	list-style: none;
	list-style-image: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0
}

.menu a:link, .menu a:visited {
	color: #3d3c3c;
	text-decoration: none;
	padding: 0.25em 0.5em 0.35em 0.5em;
	display: block
}
.menu a:hover {
	color: #8cbf44
}
.menu .tab a:link, .menu .tab a:visited {
	color: #fff;
	background-color: #062d66;
	-webkit-border-radius: 0.5em 0.5em 0 0;
	-moz-border-radius: 0.5em 0.5em 0 0;
	-ms-border-radius: 0.5em 0.5em 0 0;
	-o-border-radius: 0.5em 0.5em 0 0;
	border-radius: 0.5em 0.5em 0 0
}

.menu .tab i {
    display: inline-block;
    margin-left: 0.5em;
	content: "\f041";
	font-family: FontAwesome;
	color: #23a9d0;
	background-color: #fff;
	margin: 0.5em;
	height: 1.25em;
	width: 1.25em;
	line-height: 1.25;
	text-align: center;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	-ms-border-radius: 5em;
	-o-border-radius: 5em;
	border-radius: 5em
}
.menu .tab a:hover {
	background-color: #e86e1d
}

.menu .tab a.selected {
    background-color: #8cbf44;
}

.carousel, .carousel-inner, .carousel-inner .item, .carousel-inner .item .specimg {
    height: inherit;
}

.form-control {
	border-radius: 4px;
	max-width: 128px;
	padding: 6px 6px;
}

.bootstrap-switch {
    height: 1.4em;
    min-width: 3em;
    width: 3em;
}

.jumbotron {padding: 20px 50px;}
.jumbotron, .navigation.content {
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron h2, .jumbotron h1 {
    text-align: center;
}
.progress-bar-alert {
    background-color:#f1c40f;
}
.progress.ng-isolate-scope {background-color: #bdc3c7; text-align: center; width: 100%; height: 25px;}
.progress.ng-isolate-scope .progress-bar {line-height: 25px;}
.progress-bar span, .myprogress span {
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    white-space:nowrap;
    /*margin-left: 50px;*/
}

[class*=class_] {
    cursor: pointer;
    padding: 0.8em;
}

.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}


.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

.gist {
  font-size: 14px;
}

.icon-refresh-animate {
    animation-name: rotateThis;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}

.panel {
  border:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;
}
.panel .panel-heading {
  /* line-height: 34px; */
  /* padding: 0 15px; */
  /* min-height: 34px; */
  /* border-left: 1px solid #ccc; */
  /* border-right: 1px solid #ccc; */
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  position: relative;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
.panel .panel-heading .panel-title {
  line-height: 40px;
}
.panel .panel-heading i {
  width: 30px;
  display: inline-block;
  font-size: 14px;
  border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading ul li {
  border-top:1px solid #e6e6e6 ;
  border-left:1px solid #e6e6e6 ;
  border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading h2 {
  height: 100%;
  width: auto;
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin: 0;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0;
}
.panel .panel-heading .panel-actions {
  float: right;
  margin-right: -15px;
  height: 40px;
  font-size: 0;
}
.panel .panel-heading .panel-actions i {
  display: inline-block;
  text-align: center;
  width: 34px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  font-size: 14px;
}
.panel .panel-heading .panel-actions a {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  padding: 0;
  margin: 0;
  color: #333;
  border-left: 1px solid rgba(0,0,0,.09);
}
.panel-actions .btn-setting:hover,
.panel-actions .btn-minimize:hover,
.panel-actions .btn-close:hover {
  background-color: rgba(0,0,0,.05);
}
.panel .panel-heading .switch {
  margin: 10px;
}
.panel .panel-body {
  border-width: 1px 1px 2px;
  border-style: solid;
  border-top: none;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  border-left-color: #ccc!important;
}
.panel .panel-body-map {
  border-width: 1px 1px 2px;
  border-style: solid;
  background:#eef3f7;
  height:380px;
  border-top: none;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  border-left-color: #ccc!important;
}
.panel .panel-body.no-padding {
  padding: 0;
}
.panel .panel-body.padding-horizontal {
  padding: 0 15px;
}
.panel .panel-body.no-padding-bottom {
  padding-bottom: 0;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel .panel-footer {
  border-width: 0 1px 2px 1px;
  border-style: solid;
  border-top: none;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  border-left-color: #ccc!important;
  position: relative;
}
.panel.panel-default {
  border-radius: 0px;

  border-top: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);

}
.panel.panel-default.panel-heading {
  background: #97d3c5;
}
.panel.panel-default .panel-footer {
  background: #f5f5f5;
}
.panel.panel-primary {
  border-color: #20a8d8;
}
.panel.panel-primary .panel-heading,
.panel.panel-primary .panel-footer {
  background: #5dc3e7;
  color: #092f3d;
  border-color: #20a8d8;
}
.panel.panel-success {
  border-color: #79c447;
}
.panel.panel-success .panel-heading,
.panel.panel-success .panel-footer {
  background: #a3d781;
  color: #284315;
  border-color: #79c447;
}
.panel.panel-info {
  border-color: #67c2ef;
}
.panel.panel-info .panel-heading,
.panel.panel-info .panel-footer {
  background: #acdef6;
  color: #106894;
  border-color: #67c2ef;
}
.panel.panel-warning {
  border-color: #fabb3d;
}
.panel.panel-warning .panel-heading,
.panel.panel-warning .panel-footer {
  background: #fcd588;
  color: #815703;
  border-color: #fabb3d;
}
.panel.panel-danger {
  border-color: #ff5454;
}
.panel.panel-danger .panel-heading,
.panel.panel-danger .panel-footer {
  background: #ffa1a1;
  color: #a10000;
  border-color: #ff5454;
}
