div.info-container:last-child {
  margin-bottom: 70px;
}

div.info-container .datasets-map-container {
  margin-top: 35px;
}

.info-item {
  padding-left: 20px;
}

ul.info-children {
  list-style: none;
}

ul.info-children li {
  margin-bottom: 12px;
  margin-left: -20px;
}
