body {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.main {
  display: -webkit-flex;
  display: flex;
  flex: 1;
  -webkit-flex: 1;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.sidebar-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
}

.sidebar {
    position: relative;
    max-width: 320px;
    min-width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 2pt solid gray;
}

.sidebar .dataset-count {
  font-size: x-small;
  float: right;
  margin-top: 4px;
  margin-right: 4px;
}

html {
  height: auto;
}

.sidebar a.badge {
  background-color: white;
  color: black;
  border: 1px solid gray;
  font-weight: bolder;
  white-space: normal;
  padding: 4px 8px;
  margin: 0 2px 4px 0;
}

.sidebar a.badge:hover {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 10px;
}

.sidebar a.badge i.unselect {
  color: gray;
}

.sidebar .fa-times.unselect-all {
  margin-right: 8px;
  padding: 0 4px;
  border-radius: 4px;
}

.sidebar .fa-times.unselect-all:hover {
  background-color: lightgray;
}

.sidebar .clear-all {
  margin-top: 12px;
}

.sidebar .clear-all a {
  color: gray;
  padding: 4px 8px;
}

.sidebar .clear-all:hover a {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
}

.sidebar .nothing-selected {
  color: gray;
}

.mol-facets > div {
  margin-bottom: 20px;
}

.navbar-nav {
  margin: 0;
}

.navbar-nav li {
  width: 124px;
}

/* map with lefthand sidebar */

.layouts-sidebar {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  position: relative;
  align-items: stretch;
}

.layouts-sidebar .sidebar-scroll-container {
  position: relative;
  max-width: 90%;
  border: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.7s ease;
}

.layouts-sidebar .sidebar-scroll-container.closed {
  max-width:0;
  padding: 0;
  overflow: hidden;
  transition: all 0.7s ease;
}

.sidebar-toggle {
  position: absolute;
  z-index:  1000;
  top: 390px;
  width: 40px;
  height:40px;
  margin: auto;
  padding:10px;
  color: #555555;
  background-color: white;
  border-bottom: 1pt solid grey;
  border-top: 1pt solid grey;
  border-right: 1pt solid grey;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 318px;
}

.sidebar-toggle.toggle-closed {
  left: 0;
}

.layouts-sidebar .sidebar {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right:0px;
  background-color: white;
  font-size: 10pt;
  max-width: 100%;
  padding: 15px;
  min-width: 290px;
  width: 400px;
  max-width: 100%;
}

.layouts-sidebar .map-container {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  -webkit-flex: 1;
}
