.mol-facets .dataset-count {
  font-size: x-small;
  float: right;
  margin-top: 4px;
  margin-right: 4px;
}

.mol-facets a.badge {
  background-color: white;
  color: black;
  border: 1px solid gray;
  font-weight: normal;
  white-space: normal;
  padding: 2px 4px;
  margin: 0 2px 2px 0;
}

.mol-facets a.badge:hover {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 10px;
}

.mol-facets a.badge i.unselect {
  color: gray;
}

.mol-facets .fa-times.unselect-all {
  margin-right: 8px;
  padding: 0 4px;
  border-radius: 4px;
}

.mol-facets .fa-times.unselect-all:hover {
  background-color: lightgray;
}

.mol-facets .clear-all {
  margin-left: 8px;
}

.mol-facets .nothing-selected {
  color: gray;
}

.mol-facets > div {
  margin-bottom: 8px;
}

.visible-parts {
  margin: 10px 0;
  padding-right: 4px;
}

.visible-parts a,
.visible-parts a:visited {
  color: white;
}

.visible-parts a:hover,
.visible-parts a:active,
.visible-parts a:focus
{
  background-color: #286090;
}

.visible-parts h5 {
  display: inline;
}

.mol-facets label {
  font-weight: normal;
  display: inline;
}

.mol-facets hr {
  margin: 4px;
}
